

	<p [class]="welcome">test works!</p>
	<p [class.text-danger] = "hasError" >Cli command for creating new component</p>
	<h2 [ngClass]="selector">ng g c <i>component-name</i></h2>
<p><input type="text" name="" [id]="inputid" /></p>
<p><input type="text" name="" bind-id="inputid1" /></p>
<p><input type="text" name="" [disabled]="isDisabled" /></p>

<button (click) = "onClick()">Click Me</button>
{{event}}<br/><br/>

<button (click) = "onClick1($event)">Click Me event type</button>



<h2>Enter  your Name</h2>

<p><input #myInput type="text" name=""  />{{logMessager}}</p>
<button (click) = "logMessage(myInput.value)">Click Me </button>


<h2>Two way binding</h2>

<p><input [(ngModel)]="name" type="text" name=""  />{{name}}</p>
